@charset "utf-8";

/*fuentes-----------*/
@font-face {
    font-family: "Mabry Mono";
    src: url(fonts/MabryMonoPro-Regular.ttf), format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mabry Mono Italic";
    src: url(fonts/MabryMonoPro-Italic.ttf), format(truetype);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Mabry Mono Medium";
    src: url(fonts/MabryMonoPro-Medium.ttf), format(truetype);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Mabry Mono Bold";
    src: url(fonts/MabryMonoPro-Bold.ttf), format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Mabry Mono Bold Italic";
    src: url(fonts/MabryMonoPro-BoldItalic.ttf), format(truetype);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Mabry Mono Medium Italic";
    src: url(fonts/MabryMonoPro-MediumItalic.ttf), format(truetype);
    font-weight: medium;
    font-style: italic;
}

/*general y body-----------*/
* {
    font-family: "Mabry Mono", sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fcfed2;
}


/*titulos, parrafos e imagenes-----------*/
h1,
h2,
h3 {
    color: #272620;
    text-align: center;
}

h1 {
    font-family: 'Mabry Mono Bold', sans-serif;
    font-size: 2rem;
    line-height: 3rem;
}

h2 {
    font-family: 'Mabry Mono Medium', sans-serif;
    font-size: 1.5rem;
    line-height: 3.5rem;
}

h3 {
    font-family: 'Mabry Mono Bold Italic', sans-serif;
    font-size: 1.6rem;
    line-height: 5rem;
}


p {
    text-wrap-style: balance;
    text-align: center;
    line-height: 1.5rem;
    max-width: 600px;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #272620;
    line-height: 1.5rem;
    font-family: Mabry Mono Medium;
    background-color: transparent;
}

.redondeo {
    border-radius: 20px;
}

/*header, nav y footer -----------*/
header {
    display: flex;
    justify-content: center;
    padding: 28px;
    background-image: url(img/background.svg);
    background-repeat: repeat;
    background-size: auto;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vh;
    max-width: 1200px;
    background-color: transparent;
}

nav {
    display: flex;
    gap: 20px;
}

.botonera a {
    text-decoration: none;
    color: #272620;
    padding: 10px 20px;
    border: 1px solid #272620;
    border-radius: 30px;
    background-color: #fcfed2;
}

.botonera a:hover {
    color: #fcfed2;
    background-color: #009485ff;
}

.botonera a:active {
    background-color: #535353;
    color: #fcfed2;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    padding-top: 50px;
}


/*divs y classes-----------*/
#aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

#aboutme article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutme h1 {
    padding-top: 40px;
}

#software {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

#software ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#trabajos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#trabajos h2 {
    text-align: center;
    margin-bottom: 1em;
}

#trabajos .identidades {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    max-width: 700px;
    margin: 0 auto;
}

#trabajos .identidades img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.sociales {
    padding-left: 20px;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.legal {
    text-align: right;
    align-items: center;
    display: flex;
    padding-left: 700px;
}

.caja {
    text-decoration: none;
    color: #272620;
    padding: 10px 20px;
    border: 1px solid #272620;
    border-radius: 30px;
}